/* Palette: https://coolors.co/fffcf2-ccc5b9-403d39-252422-eb5e28 */

* {
  font-family: "Inconsolata";
  font-size: 0.95em;
  font-stretch: expanded;
  font-weight: 700;

  border: none;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: rgba(255, 252, 242, 1.0);  /* #FFFCF2 */
}

.modules-right,
.modules-left,
.modules-center {
  border-radius: 1em;
  margin: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;

  background-color: rgba(37, 36, 34, 1.0);  /* #252422 */
}

.modules-center {
  background-color: transparent;
}

#workspaces button {
  font-weight: 900;

  border-radius: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;

  background-color: rgba(235, 94, 40, 0.7);  /* #EB5E28 */
  color: rgba(255, 252, 242, 0.7);  /* #FFFCF2 */
}

#workspaces button.focused {
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;

  background-color: rgba(235, 94, 40, 1.0);  /* #EB5E28 */
  color: rgba(255, 252, 242, 1.0);  /* #FFFCF2 */
}

#clock {
  border-radius: 1em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;

  background-color: rgba(64, 61, 57, 1.0);  /* #403D39 */
  color: rgba(255, 252, 242, 1.0);  /* #FFFCF2 */
}

#mode {
  font-weight: 900;

  border-radius: 1em;
  border: none;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-left: 0.6em;
  padding-right: 0.6em;

  background-color: rgba(37, 36, 34, 1.0);  /* #252422 */
  color: rgba(235, 94, 40, 1.0);  /* #EB5E28 */
}

#battery,
#bluetooth,
#cpu,
#disk,
#language,
#memory,
#network,
#pulseaudio {
  border-radius: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-left: 1em;
  padding-right: 1em;

  background-color: rgba(64, 61, 57, 1.0);  /* #403D39 */
  color: rgba(255, 252, 242, 1.0);  /* #FFFCF2 */
}

#battery.warning:not(.charging),
#bluetooth.disabled,
#bluetooth.off,
#network.disconnected,
#pulseaudio.muted {
  background-color: rgba(255, 0, 0, 0.2);  /* #FF0000 */
}

#battery.charging,
#bluetooth.connected {
  background-color: rgba(0, 255, 0, 0.1);  /* #00FF00 */
}

#tray {
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 1em;

  background-color: rgba(64, 61, 57, 1.0);  /* #403D39 */
}

#tray menu {
  font-size: medium;

  background-color: rgba(37, 36, 34, 1.0);  /* #252422 */
  color: rgba(255, 252, 242, 1.0);  /* #FFFCF2 */
}

#tray menuitem:hover {
  background-color: rgba(235, 94, 40, 1.0);  /* #EB5E28 */
  color: rgba(255, 252, 242, 1.0);  /* #FFFCF2 */
}
